<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="java" arguments="-jar target/dentinhofelizapp-1.0.0.jar" startupTimeLimit="120" />
  </system.webServer>
</configuration>
