<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alarme - Dentinho Feliz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <img th:src="@{/img/logo.png}" alt="Dentinho Feliz" class="logo">
    <h2>Defina seu Alarme</h2>

    <form id="alarmeForm" th:action="@{/alarme}" method="post">
        <input type="time" id="horario" name="horario" required>
        <button type="submit">Definir Alarme</button>
    </form>

    <h3>Alarmes Ativos</h3>
    <ul>
        <li th:each="alarme : ${alarmes}" th:text="${alarme.horario}"></li>
    </ul>

    <a th:href="@{/home}"><button>Voltar</button></a>
</div>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>