<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Caso tenha um CSS -->
</head>
<body>

<div class="container">
    <h1>Resultado do Quiz</h1>
    <p>Sua pontuação final foi: <strong th:text="${pontuacao}"></strong> pontos.</p>

    <a href="/quizzes"><button>Refazer Quiz</button></a>
    <a href="/home"><button>Voltar para Home</button></a>
</div>

</body>
</html>